
body {
    font-family: sans-serif;
    margin: 0; 
    padding: 0; 
    background-color: #ffffff; 
    color: #333; 
    background-image: url(https://http2.mlstatic.com/D_NQ_NP_997572-MLA51814518297_102022-O.webp);
    background-repeat: no-repeat;
    justify-content: center;
    text-align: center;
    

}
