
* {
    margin: 0;
    padding: 0;
 
  }
body {
    font-family: Arial, sans-serif;
    display: flex;               
    justify-content: center;     
    align-items: center;          
    
    background-image: url(../../public/cart.png);
    background-repeat: no-repeat;
                     
       
}

.container {
    display: flex;                
    flex-direction: row;          
              
   

    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }