.shopping-cart-title {
    text-align: center;
    margin-bottom: 20px;
}

.products-title, .cart-title {
    margin: 20px 0 10px;
    font-size: 1.5rem; /* Tamaño de fuente para los títulos */
    color: #333; /* Color gris oscuro para los títulos */
}

.box {
    display: flex;
    flex-direction: column; /* Cambia a columna para los elementos del carrito */
    align-items: center; /* Alinea los elementos al centro */
    margin: 0 auto; /* Centra la caja */
}

.grid-responsive {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Crea un diseño de cuadrícula */
    gap: 16px; /* Espaciado entre los productos */
}
.clear-cart-button {
    display: block; /* Botón centrado */
    margin: 20px auto; /* Margen superior e inferior */
    padding: 10px 20px; /* Espaciado interno para el botón */
    background-color: #dc3545; /* Color de fondo rojo */
    color: white; /* Texto blanco */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
    transition: background-color 0.3s; /* Transición suave para el color de fondo */
}

.clear-cart-button:hover {
    background-color: #c82333; /* Color más oscuro al pasar el mouse */
}
